:root {
    --background: #224;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    justify-content: center;
    background-color: var(--background);
}

.card {
    height: 80px;
    width: 60px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: grab;
}

img {
    align-self: center;
    height: 47px;
}

.hide {
    opacity: 0;
    animation-name: deselect;
    animation-duration: 1s;
}

.show {
    opacity: 1;
    animation-name: select;
    animation-duration: 0.5s;
}

.done-image {
    opacity: 0.6;
    height: 30px;
    animation-name: freeze;
    animation-duration: 1s;
}

@keyframes select {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes deselect {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes freeze {
    from {opacity: 1; height: 47px;}
    to {opacity: 0.6; height: 30px;}
}


.board {
    display: grid;
    grid-template: repeat(5, 1fr)/ repeat(6, 1fr);
    gap: 2%;
}

main {
    align-self: center;
}


nav {
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
}

.active {
    animation-name: activate;
    animation-duration: 0.5s;
    background-color: burlywood;
}

.none {
    animation-name: deactivate;
    animation-duration: 0.75s;
    background-color: #ddd;
}

.done {
    border: 1px solid #eee;
    cursor: not-allowed;
    animation-name: confirm;
    animation-duration: 0.5s;
    background-color: #aaa;
}

@keyframes activate {
    from {background-color: #ddd;}
    to {background-color: burlywood;}
}

@keyframes deactivate {
    from {background-color: burlywood;}
    to {background-color: #ddd;}
}

@keyframes confirm {
    from {background-color: burlywood;}
    to {background-color: #aaa;}
}
