:root {
    --background: #224;
}

* {
    box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
    min-height: 100vh;
    justify-content: center;
    background-color: var(--background);
}

.card {
    height: 80px;
    width: 60px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: grab;
    transition: background 0.5s;
    transition-timing-function: steps(5, end);
}

img {
    align-self: center;
    transition: opacity 0.3s;
    transition-timing-function: steps(5, end);
    height: 47px;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.active {
    background-color: burlywood;
}

.board {
    display: grid;
    width: calc(6*60+5%);
    grid-template: repeat(5, 1fr)/ repeat(6, 1fr);
    gap: 2%;
}

main {
    align-self: center;
}

.done {
    background-color: #aaa;
    border: 1px solid #eee;
    cursor: not-allowed;
}

nav {
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
}

.done-image {
    opacity: 0.6;
    height: 30px;
}
