@font-face {
    font-family: "gangitem";
    src: url("./assets/gangitem-font/Gangitem.ttf");
}

* {
    font: 1rem/1.4 Georgia, serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #E3DEDE;
}

.hero > h1 {
    font-size: 3rem;
    font-family: gangitem;
    align-self: center;
}

.hero {
    min-height: 900px;
    margin-top: 0px;
    padding-top: 0px;
    background-image: url('./assets/studio-compressed.jpeg');
    justify-content: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
    background-size: cover;
    display: flex;
}

section, footer {
    padding-top: 30px;
}

footer {
    margin-bottom: 50px;
}

h2 {
    font-family: 'gangitem';
    font-style: normal;
    font-weight: 200;
    font-size: 2rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.horizontal-block {
    min-width: 600px;
    width: 60%;
}

.para {
    background-color: white;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
}

.right {
    right: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: 10px;
}

.card > img {
    width: 200px;
    margin-top: 20px;
    align-self: center;
}

.alternate {
    display: flex;
    flex-direction: column;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}

.capitalize {
    text-transform: uppercase;
}

q {
    font: 1.25rem/1.4 Georgia, serif;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: auto 30px;
    align-items: center;
}

.contact > a > img {
    width: 50px;
    align-self: center;
}

/***********
 *  Projects
 ***********/

header {
    height: 100px;
    background-color: white;
    color: black;
    padding: 0px;
    width: 100%;
    margin-top: 0;
}

header > * > h1 {
    font-family: gangitem;
    font-size: 3.5rem;
    margin-left: 30px;
    margin-top: 0px;
    padding-top: 15px;
}

.carousel {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-size {
    height: 500px;
    width: 300px;
    margin: 50px;
    transition: all 1s;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    opacity: 0.8;
}

.carousel-size > h4, .carousel-size > h5 {
    font-family: gangitem;
    font-size: large;
    align-self: center;
    color: white;
    text-shadow: #000 2px 0 10px;
}

.arrow {
    height: 30px;
}


.arrow-left {
    height: 30px;
    transform: rotate(180deg);
}

.projects {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-evenly;
}

.section-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-highlight {
    color: black;
}

.project-description {
    margin-top: 150px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: minmax(350px, 1fr) minmax(1fr, 1000px);
    grid-template-areas: "l r";
}

.project-d-left {
    margin-left: 30px;
    font-family: gangitem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-transform: uppercase;
}

.project-d-left > h2 {
    font-size: 3rem;
    font-weight: bolder;
    margin: 20px 0;
}

.project-d-left > span {
    font-size: 1.2rem;
}

.project-d-right {
    margin: 0 30px;
    font-size: 1.2rem;
    text-align: left;
    max-height: 800px;
    overflow-y: scroll;
}

.image-grid {
    display: grid;
    grid-gap: 40px;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-flow: dense;
    margin: 50px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wide {
    grid-column: span 2;
}
.tall {
    grid-row: span 2;
}
