@font-face {
    font-family: "gangitem";
    src: url("./assets/gangitem-font/Gangitem.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #E3DEDE;
}

.hero {
    position: relative;
    max-height: 1000px;
    margin-top: 0px;
    padding-top: 0px;
}

.hero-bg {
    height: 100%;
    width: 100%;
    min-height: 400px;
    border-radius: 30px;
}

section {
    padding-top: 30px;
    margin: 30px 20px;
}

section > h2 {
    font-family: 'gangitem';
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    text-shadow: 3px 3px 2px slateblue;
}


.horizontal-block {
    background-color: white;
    padding: 20px;
    margin: 30px;
    font-family: 'gangitem';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 3px 2px 5px slategray;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    max-height: 300px;
    max-width: 300px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 2px 5px slategray;
}

.card > img {
    width: 200px;
    align-self: center;
}

.card > p {
    font-family: 'gangitem';
}


.horizontal-block > q {
    font-weight: 800;
    font-size: 1.5rem;
}

.horizontal-block > q::before, q::after {
    font-size: 4rem;
    padding: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: auto 30px;
    align-items: center;
}

.contact > a > img {
    width: 30px;
    align-self: center;
    margin-bottom: 5px;
}

.contact > label {
    font-family: 'gangitem';
    font-size: 0.7rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 30px;
    height: 100px;
}

/***********
 *  Projects
 ***********/

header {
    height: 100px;
    background-color: white;
    color: black;
    padding: 0px;
    position: absolute;
    top: 0;
    width: 100%;
}

header > h1 {
    font-family: gangitem;
    font-size: 3.5rem;
    margin-left: 30px;
}
