@font-face {
    font-family: "gangitem";
    src: url("./assets/gangitem-font/Gangitem.ttf");
}

* {
    font: 1rem/1.4 Georgia, serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #E3DEDE;
}

.hero > h1 {
    font-size: 3rem;
    font-family: gangitem;
    align-self: center;
}

.hero {
    min-height: 900px;
    margin-top: 0px;
    padding-top: 0px;
    background-image: url('./assets/studio-compressed.jpeg');
    justify-content: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
    background-size: cover;
    display: flex;
}

section, footer {
    padding-top: 30px;
    place-items: center;
}

footer {
    margin-bottom: 50px;
}

h2 {
    font-family: 'gangitem';
    font-style: normal;
    font-weight: 200;
    font-size: 2rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.horizontal-block {
    min-width: 600px;
    width: 60%;
}

.para {
    background-color: white;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
}

.right {
    right: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: 10px;
}

.card > img {
    width: 200px;
    margin-top: 20px;
    align-self: center;
}

.alternate {
    display: flex;
    flex-direction: column;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}

.capitalize {
    text-transform: uppercase;
}

q {
    font: 1.25rem/1.4 Georgia, serif;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: auto 30px;
    align-items: center;
}

.contact > a > img {
    width: 50px;
    align-self: center;
}

.contact > label {
}

/***********
 *  Projects
 ***********/

header {
    height: 100px;
    background-color: white;
    color: black;
    padding: 0px;
    position: absolute;
    top: 0;
    width: 100%;
}

header > h1 {
    font-family: gangitem;
    font-size: 3.5rem;
    margin-left: 30px;
}
