/*  Fonts
   -----
   font-family: 'Lora', serif;
   font-family: 'Ubuntu', sans-serif;
 */
* {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --grey-ten: #f8f8f8;
    --grey-thirty: #ebebeb;
    --grey-fifty: #707070;
    --grey-seventy: #717171;
    --blue-light: #1792d2;
    --blue-dark: #143774;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* =================
   Typography
   ================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: var(--blue-dark);
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: var(--blue-light);
    font-size: .75rem;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer {
    font-size: 1rem;
    color: rgba(100%, 100%, 100%, 0.54);
    background-color: var(--blue-dark);
    padding: 2.5em;
}


.widget p {
    color: var(--blue-dark);
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 400;
}

.widget h2 {
    color: var(--blue-dark);
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

h3 {
    color: var(--blue-dark);
    font-weight: 400;
}

.widget h3 {
    font-size: 1rem;
}
.posts h3 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.3rem;
}
.posts p, .posts span {
    color: var(--grey-seventy);
    font-weight: 100;
}

.post p {
    margin-top: 0;
}

.post a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blue-light);
    font-size: 0.8rem;
    letter-spacing: 1px;
}


/* =================
   Layout
   ================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.container-main {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 4rem;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin-block: 0 0.5em;
}

header {
    background: var(--grey-ten);
    padding: 2em 0;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }

    header {
        text-align: center;
    }
}

hr {
    border: 0.1em solid var(--grey-thirty);
    width: 100%;
}

.widget {
    display: flex;
    flex-direction: column;
    width: 240px;
    border: 20px solid var(--grey-thirty);
    opacity: 1;
    padding: 1em;
    margin-bottom: 2em;
}

.post-widget {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
}

.container-main-section {
    width: calc(95% - 240px);
}

.post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3em;
}

.post hr {
    margin-top: 2em;
}

.post-image-section {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.post-image-section img {
    object-fit: cover;
    margin-bottom: 1em;
}

.post-content-section {
    display: flex;
    flex-direction: column;
    width: calc(98% - 200px);
}

.featured {
    flex-direction: column;
    margin-bottom: 0;
}

.featured .post-image-section,
.featured .post-content-section {
    width: 100%;
    margin-bottom: 2rem;
}


/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: var(--grey-fifty);
    font-weight: 700;
    padding: .25em 0;
    text-transform: uppercase;
}

nav a:hover,
nav a:focus {
    color: var(--blue-dark);
    border-bottom: 1px solid var(--blue-dark) ;
}

.current-page {
    border-bottom: 1px solid var(--grey-fifty);
}

.current-page:hover {
    color: var(--grey-fifty);
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }
}

/* about-me */

.about-me {
    font-family: 'Lora', serif;
}

.about-me b {
    font-weight: 700;
}

.about-me img {
    width: 100%;
}

.about-me h2 {
    color: var(--blue-dark);
    font-weight: 400;
    font-size: 1.2rem;
}

.about-me h3 {
    color: var(--blue-light);
    font-weight: 400;
}

.about-me p {
    color: var(--grey-fifty);
    font-weight: 200;
}
