:root {
    --black: #666;
    --white: #999;
    --dark: #e2b97a;
    --big-size: 50px;
    --small-size: 10px;
    --board-size: 8;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--dark);
}

button:disabled {
    cursor: not-allowed;
}

.black {
    background-color: var(--black);
}
.white {
    background-color: var(--white);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: xx-large;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.board {
    display: grid;
    grid-auto-rows: var(--big-size);
    grid-template-columns: repeat(var(--board-size), var(--big-size));
    margin: 80px;
    box-shadow: 2px 2px 20px white;
    transition: all 1s ease-in-out;
}

.board:hover {
    box-shadow: none;
    gap: 3px;
}

.board:hover .square {
    box-shadow: 0px 0px 15px black;
    border-radius: 5px;
}

.square {
    height: var(--big-size);
    width: var(--big-size);
    transition: all 1s ease-in-out;
    cursor: grab;
    border: none;
}

.select {
    padding: 20px;
    background: none;
}

.piece {
    background-image: url("./assets/queen.svg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.solutions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loader {
    margin-block: 100px;
    color: #ffffff;
    font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .right {
    min-width:200px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#000000;
    background-color:#FFCC33;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px #000000;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.8s;
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#FFCC33;
    border:1px solid #FFFFFF;
    box-shadow:0 1px 8px #000000;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
input {
    cursor: grab;
    display: none;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}
.box {
    cursor: grab;
    height: 50px;
    width: 50px;
    border: 2px black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
label {
    font-size: large;
    cursor: grab;
    text-shadow: 2px 2px 8px black;
}
.selected {
    color: var(--black);
    text-shadow: 2px 2px 8px white;
    transition: 0.6s all ease-in;
}

.not-selected {
    color: white;
}
input:checked{
    text-shadow: none;
}
