@font-face {
    font-family: "seven-segment";
    src: url("./assets/SevenSegment.ttf")
}

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid slategray;
    width: 550px;
    border-radius: 8px;
    height: 650px;
}

.row {
    margin: 0;
    width: 460px;
}

.cell {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    color: transparent;
    margin:3px;
    border:1px solid black;
    background-origin: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.color-0 {color: transparent;}
.color-1 {color: #00ff00;}
.color-2 {color: #00ffff;}
.color-3 {color: #ff00ff;}
.color-4 {color: #ffff00;}
.color-5 {color: #ff0000;}
.color-6 {color: #ffffff;}
.color-7 {color: #0000ff;}
.color-8 {color: #000000;}


.hidden {
    background-color: #696969;
    color:transparent;
}

.discovered {
    background-color: #505050;
    border:1px solid slategray;
}

.mine {
    background-image: url("./assets/mine.svg");
    color:transparent;
}

.red {
    background-color: #ff0000;
}

.flagged {
    background-image: url("./assets/flag.svg");
}

button {
    background-color: #1a1a1a;
    cursor: grab;
    transition: border-color 0.5s;
    transition: background 0.3s linear 0.10s;
    transition: background-image 0.3s fade-in;
    font-size: x-large;
    font-family: seven-segment;
}

.pic {
    width: 50px;
    margin-top: 20px;
}

.disabled {
    cursor: not-allowed;
}

.right {
    margin-left: auto;
}

.header {
    display: flex;
    width: 460px;
}

.seven-seg {
    font-size: 3rem;
    font-family: seven-segment;
    color: red;
    background-color: black;
}
